/* From Uiverse.io by Zameerahmad01 */
ul {
    list-style: none;
}

.social-icons-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-top: 8px;
}

.social-icons-list .icon-content {
    margin: 0;
    position: relative;
}

.social-icons-list .icon-content .tooltip {
    position: absolute;
    top: 20px;
    left: 40%;
    transform: translateX(50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.social-icons-list .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: 5px;
}

.social-icons-list .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icons-list .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.social-icons-list .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.social-icons-list .icon-content a:hover {
    color: white;
}

.social-icons-list .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: height 0.3s ease-in-out;
}

.social-icons-list .icon-content a:hover .filled {
    height: 100%;
}

.social-icons-list .icon-content a[data-social="linkedin"] .filled,
.social-icons-list .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.social-icons-list .icon-content a[data-social="github"] .filled,
.social-icons-list .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.social-icons-list .icon-content a[data-social="instagram"] .filled,
.social-icons-list .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.social-icons-list .icon-content a[data-social="youtube"] .filled,
.social-icons-list .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}